<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Refresh" content="30">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CoinPool - Create Pool</title>
<link href="../css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" media="screen" href="../css/main.css">
</head>

<body>
	

	
	
<!--Footer section starts-->
<footer>
  <div class="footer fixed-bottom">
  <a href="index.html"><img src="../Includes/icons/home.png" alt="home" class=""></a>
  <a href="vault.html"><img src="../Includes/icons/tf.png" alt="transfer" class=""></a>
  <a href="pool.html"><img src="../Includes/icons/pool.png" alt="pool" class=""></a>
  <a href="market.html"><img src="../Includes/icons/chart.png" alt="market" class=""></a>
  <a href="JavaScript:void(0)"><img src="../Includes/icons/set.png" alt="settings" class=""></a>
  </div>
</footer>
<!--Foooter section ends-->
	
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap-4.3.1.js"></script>
</body>
</html>
