<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CoinPool - Homepage</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../Includes/css/main.css'>
    <script src='../Includes/scripts/main.js'></script>
</head>
<body>
    <!--Header section starts-->
    <header>
        <p>Hello World</p>
        <h1>The Evolving Defi Crowd Lending Protocol</h1>
    </header>
    <!--Header section ends-->
    <!--About features section-->
    <div class="aboutwrapper">
        <div class="aboutcontent1">
        <img class="aboutimage" src="../Includes/icons/pattern.png">
        <p class="aboutcontent">How to start a coinpool<br><span class="aboutcontent">Jane Doe</span></p>
        </div>
        <div class="aboutcontent2">
            <img class="aboutimage" src="../Includes/icons/pattern.png">
            <p class="aboutcontent">How to join a coinpool<br><span class="aboutcontent">John Doe</span></p> 
        </div>
        <div class="aboutcontent3">
            <img class="aboutimage" src="../Includes/icons/pattern.png">
        <p class="aboutcontent">How to earn cToken<br><span class="aboutcontent">Jane Doe</span></p>
        </div>
        <div class="aboutcontent4">
            <img class="aboutimage" src="../Includes/icons/pattern.png">
        <p class="aboutcontent">How to use cToken<br><span class="aboutcontent">John Doe</span></p>
        </div>
    </div>
    <!--About features section ends-->
    <footer>
        <div class="footersection">
            
        </div>
    </footer>
</body>
</html>