<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CoinPool - Market</title>
        <link href="../css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
        <link rel='stylesheet' type='text/css' media='screen' href='../css/main.css'>
        </head>
<body>
    <!---Header section starts-->
    <header>
        <h1>Hello, Welcome to CoinPool Parket Page </h1>
        <p>The Evolving Defi Crowd Lending Protocol</p>
    </header>
    <!---Header section ends here-->
    <div id="background">
        <div id="container">
            <div>
                <h3 id="top">Top Gainers</h3>
            </div>
            <section id="markets">
                <div id="faded" class="box-container">
                    <h3>Pair</h3>
                    <h3>Last Price</h3>
                    <h3>24 Chng%</h3>
                </div>

                <div class="box-container">
                    <div class="bold-pair">
                        <h2>FILUP<span class="unit">/USDT</span></h2>
                    </div>
                    <p class="price">79.140</p>
                    <p class="changes">+57.35%</p>
                </div>

                <div class="box-container">
                    <div class="bold-pair">
                        <h2>TRXUP<span class="unit">/USDT</span></h2>
                    </div>
                    <p class="price">10.634</p>
                    <p class="changes">+56.36%</p>
                </div>

                <div class="box-container">
                    <div class="bold-pair">
                        <h2>FIL<span class="unit">/USDT</span></h2>
                    </div>
                    <p class="price">216.9196</p>
                    <p class="changes">+40.08%</p>
                </div>

                <div class="box-container">
                    <div class="bold-pair">
                        <h2>FIL<span class="unit">/BUSD</span></h2>
                    </div>
                    <p class="price">216.6264</p>
                    <p class="changes">+39.72%</p>
                </div>

                <div class="box-container">
                    <div class="bold-pair">
                        <h2>FIL<span class="unit">/BTC</span></h2>
                    </div>
                    <p class="price">0.0036937</p>
                    <p class="changes">+38.48%</p>
                </div>

                <div class="box-container">
                    <div class="bold-pair">
                        <h2>WIN<span class="unit">/USDC</span></h2>
                    </div>
                    <p class="price">0.0005912</p>
                    <p class="changes">+37.39%</p>
                </div>

                <div class="box-container">
                    <div class="bold-pair">
                        <h2>WIN<span class="unit">/USDT</span></h2>

                    </div>
                    <p class="price">0.00059363</p>
                    <p class="changes">+37.27%</p>
                </div>

                <div class="box-container">
                    <div class="bold-pair">
                        <h2>EOSUP<span class="unit">/USDT</span></h2>

                    </div>
                    <p class="price">2.697</p>
                    <p class="changes">+36.76%</p>
                </div>

                <div class="box-container">
                    <div class="bold-pair">
                        <h2>SUN<span class="unit">/USDT</span></h2>
                    </div>
                    <p class="price">39.877</p>
                    <p class="changes">+34.33%</p>
                </div>

                <div class="box-container">
                    <div class="bold-pair">
                        <h2>SUN<span class="unit">/BTC</span></h2>
                    </div>
                    <p class="price">0.000682</p>
                    <p class="changes">+33.46%</p>
                </div>
            </section>
            </div>
        </div>
    </div>

    <!--Footer section starts-->
<footer>
    <div class="footer fixed-bottom">
    <a href="index.html"><img src="../Includes/icons/home.png" alt="home" class=""></a>
    <a href="transfer.html"><img src="../Includes/icons/tf.png" alt="transfer" class=""></a>
    <a href="pool.html"><img src="../Includes/icons/pool.png" alt="pool" class=""></a>
    <a href="#"><img src="../Includes/icons/chart.png" alt="market" class=""></a>
    <a href="setting.html"><img src="../Includes/icons/set.png" alt="settings" class=""></a>
    </div>
  </footer>
  <!--Foooter section ends-->

<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap-4.3.1.js"></script>
</body>
</html>