<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CoinPool Vaults</title>
<link href="../css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" media="screen" href="../css/main.css">
</head>

<body style="font-family: poppins; font-weight: bold;">
	<!--Accessibility block starts-->
<div class="container mt-4">
<div class="row col-12 col-md-12 col-sm-12 col-lg-4 mx-auto bg-light text-dark p-2 rounded-4 text-center">
<div class="col-sm-4 col-xl-4 col-md-4 col-4"><img src="../Includes/icons/tf.png" alt="swap" width="33"><br>SWAP</div>
<div class="col-sm-4 col-xl-4 col-md-4 col-4"><img src="../Includes/icons/send.png" alt="send" width="33"><br>SEND</div>
<div class="col-sm-4 col-xl-4 col-md-4 col-4"><img src="../Includes/icons/qr.png" alt="receive" width="33"><br>RECEIVE</div>
</div>
</div>
	<!--Accessibility block ends-->
	
<!--Local Currency Starts-->
	<div class="container-fluid mt-5">
	<div class="row col-12 col-md-12 col-sm-12 col-lg-6 mx-auto bg-light text-dark p-2 rounded text-left">
		<div class="col-sm-12 col-xl-12 col-md-12 col-12"><img src="../Includes/icons/usd.png" alt="usd" width="40">USD : </div>
		</div>	
	</div>
<!--Local Curreny Ends-->
	
<!--Token Starts-->
	<div class="container-fluid mt-4">
	<div class="row col-12 col-md-12 col-sm-12 col-lg-6 mx-auto bg-light text-dark p-2 rounded text-left">
		<div class="col-sm-12 col-xl-12 col-md-12 col-12">&nbsp;&nbsp;<img src="../Includes/icons/cToken.png" alt="cToken" width="60">  </div>
		</div>	
	</div>
<!--Token Ends-->

<!--Xend Savings Starts-->
	<div class="container-fluid mt-4">
	<div class="row col-12 col-md-12 col-sm-12 col-lg-6 mx-auto bg-light text-dark p-2 rounded text-left">
		<div class="col-sm-12 col-xl-12 col-md-12 col-12">&nbsp;&nbsp;<img src="../Includes/icons/xend.png" alt="xend savings" width="25">&nbsp; DAI : </div>
		</div>	
	</div>
<!--Xend Savings Ends-->
	
<!--Assets Starts-->

<div class="container-fluid mt-4 col-lg-6">
	<p class="text-muted">ASSETS</p>
	<div class="row col-12 col-md-12 col-sm-12 col-lg-12 mx-auto bg-light text-dark p-2 rounded text-left">
		<div class="col-sm-12 col-xl-12 col-md-12 col-12">&nbsp;&nbsp;<img src="../Includes/icons/ether.png" alt="ETH" width="35" height="40"> ETH :  </div>
		</div>	
	</div>

<div class="container-fluid mt-4 col-lg-6">
	<div class="row col-12 col-md-12 col-sm-12 col-lg-12 mx-auto bg-light text-dark p-2 rounded text-left">
		<div class="col-sm-12 col-xl-12 col-md-12 col-12">&nbsp;&nbsp;<img src="../Includes/icons/bnb.png" alt="bnb" width="40"> BNB :  </div>
		</div>	
	</div>

<div class="container-fluid mt-4 col-lg-6">
	<div class="row col-12 col-md-12 col-sm-12 col-lg-12 mx-auto bg-light text-dark p-2 rounded text-left">
		<div class="col-sm-12 col-xl-12 col-md-12 col-12">&nbsp;&nbsp;<img src="../Includes/icons/cToken.png" alt="busd" width="70"> cT :  </div>
		</div>	
	</div>
<!--Assets Ends-->
	
<!--Footer section starts-->
<footer>
  <div class="footer fixed-bottom">
  <a href="index.html"><img src="../Includes/icons/home.png" alt="home" class=""></a>
  <a href="JavaScript:void(0)"><img src="../Includes/icons/tf.png" alt="transfer" class=""></a>
  <a href="pool.html"><img src="../Includes/icons/pool.png" alt="pool" class=""></a>
  <a href="market.html"><img src="../Includes/icons/chart.png" alt="market" class=""></a>
  <a href="setting.html"><img src="../Includes/icons/set.png" alt="settings" class=""></a>
  </div>
</footer>
<!--Foooter section ends-->
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap-4.3.1.js"></script>
</body>

</html>
